body * {
  box-sizing: border-box;
  font-size: 10px;
  color: rgba(0, 0, 0, 1);
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) ,url(../_source/img/bgi.jpg) no-repeat center center/100%;
}

#logo {
 margin: 0;
 padding: 0;
}

#reset {
  margin-top: 3.5rem;
  margin-left: 5rem;
  width: 7.2rem;
  height: 7.2rem;
  box-shadow: 0px 0px 20px 10px #f2fadc;
  border-radius: 100%;
  border-style: ridge;
  background-color: #ced9bf;
  color: #306108;
  font-family: fantasy;
  font-size: 2.4rem;
  transition: background-color .4s;
  cursor: pointer;
}

#reset:hover {
  background-color: gold;
}

main {
  margin: 0 auto;
  width: 60%;
  max-width: 102.4rem;
}

#question, #album {
  margin: 0;
  border: 1px solid #b2b8ad;
  box-shadow: 0px 0px 15px 5px #f2fadc;
  border-radius: 5px;
  background-color: beige;
  font-size: 3rem;
}

#question {
  padding: 11rem 2rem 2rem 2rem;
}

#answerList, main>button {
  width: 100%;
  margin: 1.5rem 0 0 0;
  font-size: 3rem;
}

#answerList {
  padding: 0;
  list-style-type: none;
}

#firstAnswer, #secondAnswer, main > button, .pause{
  border: 1px solid #b2b8ad;
  box-shadow: 0px 0px 15px 5px #f2fadc;
  border-radius: 5px;
  background-color: beige;
  font-size: 1.8rem;
  transition: background-color .4s;
  cursor: pointer;
}

#firstAnswer, #secondAnswer {
  margin: 0 0 1rem;
  width: 100%;
}

#firstAnswer:hover, #secondAnswer:hover, main > button:hover, .pause:hover {
  background-color: #92b879;
}

#album > img {
  width: 100%;
}

